html {
    font-family: sans-serif;
}

.trip-list {
	position: absolute;
	left: 9px;
	width: 400px;
	top: 9px;
	height: 70vh;
}

.trip-list vaadin-grid {
	height: 100%;
}

.add-trip {
	background: white;
	position: relative;
	display: block;
}
