html {
    font-family: sans-serif;
}

.trip-list {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.trip-list vaadin-grid {
	width: 400px;
	height: 70vh;
	margin: 9px;
}

.add-trip {
	background: white;
	position: relative;
	display: block;
}

.add-link {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-decoration: none !important;
  text-align: center;
  background-color: green;
  color: white;
  font-size: 45px;
  line-height: 40px;
      
  position: absolute;
  right: 50px;
  bottom: 27px;
}

.add-link:hover {
  box-shadow: 0 0 5px black;
}
